@model HorseRace.Models.Kon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Umaszczenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Umaszczenie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWytrzymalosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxWytrzymalosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSzybkosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSzybkosc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
