@model HorseRace.Models.Uzytkownik

@{
    ViewData["Title"] = "Gra";
}
<div class="okno_glowne">
    <div class="okno_gra">
        <div class="menu">
            <div class="pusty">

            </div>
            <div class="div_logo">
                <img class="logo_mniejsze" src="~/images/Logo.png" />
            </div>
            <div class="ikonki">
                <div class="ikonka_kasa"><img src="/images/podkowa.png" class="zlota_podkowa"/> @Model.ZlotePodkowy</div>
                <a asp-controller="HorseRace" asp-action="Index" class="ikonka_wyloguj">WYLOGUJ SIĘ</a>
            </div>
        </div>
        <div class="user_body">
            <div class="user_body_lewy">
                <div class="div_info">
                    <img src="~/images/konie/@($"{ViewBag.Kon.Umaszczenie}.png")" />
                    <div class="div_info_srodek">
                        <span><strong>Nazwa: </strong>@ViewBag.Kon.Nazwa<br /></span>
                        <span><strong>Umaszczenie: </strong>@ViewBag.Kon.Umaszczenie<br /></span>
                        <span><strong>Szybkość: </strong>@ViewBag.Kon.MaxSzybkosc km/h<br /></span>
                        <span><strong>Wytrzymałość: </strong>@ViewBag.Kon.MaxWytrzymalosc ml/kg/min<br /></span>
                        <span><strong>Właściciel: </strong>@Model.Login<br /></span>
                        <span style="color:red;"><strong>Wygrane wyścigi: </strong>@ViewBag.Kon.LiczbaWygranychWyscigow<br /></span>

                    </div>
                </div>
                <div class="div_praca">
                    <p class="p_praca" style="font-size: 28px;"><img src="/images/podkowa.png" class="zlota_podkowa" /> PRACA <img src="/images/podkowa.png" class="zlota_podkowa" /> </p>
                    @if (TempData["KomunikatPraca"] != null)
                    {
                        <div class="komunikat_praca">
                            <p>@Html.Raw(TempData["KomunikatPraca"])</p>
                            <a asp-controller="HorseRace" asp-action="PanelUser" asp-route-id="@Model.Id" class="ikonka_ok">OK</a>
                        </div>
                    }
                    else
                    {
                    <a asp-controller="HorseRace" asp-action="PracaStajnia" asp-route-id="@Model.Id" class="ikonka_praca" style="background-color: #8b5b3b;">PRACA W STAJNI GRAND MASTERA</a>
                    <a asp-controller="HorseRace" asp-action="PracaZlom" asp-route-id="@Model.Id" class="ikonka_praca">ZBIERAJ ZŁOM NA TORZE</a>
                    }
                    
                </div>
            </div>
            <div class="user_body_prawy">
                <p class="p_praca" style="font-size: 32px;">DOSTĘPNE WYŚCIGI</p>
                <p class="p_sortuj">
                    Sortuj według:<strong>
                        <a asp-action="PanelUser" asp-route-id="@Model.Id" asp-route-sortOrder="@ViewBag.NameSortParam">Nazwa</a> |
                        <a asp-action="PanelUser" asp-route-id="@Model.Id" asp-route-sortOrder="@ViewBag.LevelSortParam">Poziom trudności</a>
                    </strong>
                </p>
                <div class="lista_wyscigi">
                        @if (ViewBag.Wyscigi != null && ViewBag.Wyscigi.Count > 0)
                        {
                            @foreach (var wyscig in ViewBag.Wyscigi)
                            {
                                <div class="karta_wyscig">
                                    <div class="opis_wyscigu">
                                        <span>
                                            <strong>Nazwa</strong><br />
                                            @wyscig.Nazwa
                                        </span>
                                        <span>
                                            <strong>Trudność</strong><br />
                                            @wyscig.PoziomTrudnosci
                                        </span>
                                        <span>
                                            <strong>Wpisowe</strong><br />
                                        @wyscig.Koszt <img src="/images/podkowa.png" class="zlota_podkowa" style="height:15px"/>
                                        </span>
                                        <span>
                                            <strong>Wygrana</strong><br />
                                        @wyscig.Nagroda <img src="/images/podkowa.png" class="zlota_podkowa" style="height:15px" />
                                        </span>
                                    </div>
                                    <a asp-action="Wyscig" asp-route-id="@Model.Id" asp-route-wyscigID="@wyscig.Id" class="btn_udzial">WEŹ UDZIAŁ</a>
                                </div>
                            }

                        }
                    @if (ViewBag.TotalPages > 1)
                    {
                        <div class="pagination">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <strong>@i</strong>
                                }
                                else
                                {
                                    <a asp-action="PanelUser" asp-route-id="@Model.Id" asp-route-page="@i" asp-route-sortOrder="@ViewBag.CurrentSort">@i</a>
                                }
                            }
                        </div>
                    }
                </div>
                <a asp-controller="HorseRace" asp-action="Ranking" asp-route-id="@Model.Id" class="ikonka_ranking">RANKING</a>
            </div>
        </div>
    </div>

</div>