@model IEnumerable<HorseRace.Models.Kon>

@{
    ViewData["Title"] = "Stajnia";
}
<div class="okno_glowne">
    <img class="logo_glowne" src="~/images/Logo.png" />
    <div class="okno_panelAdmin1">
        <form method="get" asp-action="Stajnia" class="form_filtr">
            <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Szukaj po nazwie..." />
            <button type="submit">Szukaj</button>
        </form>

        <p class="p_sortuj">
            Sortuj według:
            <a asp-action="Stajnia" asp-route-sortOrder="@ViewBag.NameSort" asp-route-searchString="@ViewBag.SearchString">Nazwa</a> |
            <a asp-action="Stajnia" asp-route-sortOrder="@ViewBag.SpeedSort" asp-route-searchString="@ViewBag.SearchString">Szybkość</a>
        </p>


        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Umaszczenie</th>
                    <th>Wytrzymałość</th>
                    <th>Szybkość</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kon in Model)
                {
                    <tr>
                        <td>@kon.Nazwa</td>
                        <td>@kon.Umaszczenie</td>
                        <td>@kon.MaxWytrzymalosc</td>
                        <td>@kon.MaxSzybkosc</td>
                        <td>
                            <a asp-action="EdytujKonia" asp-route-id="@kon.Id" class="btn btn-warning btn-sm">Edytuj</a>
                            <a asp-action="SzczegolyKonia" asp-route-id="@kon.Id" class="btn btn-info btn-sm">Szczegóły</a>
                            <a asp-action="UsunKonia" asp-route-id="@kon.Id" class="btn btn-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            Strony:
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                if (i == ViewBag.CurrentPage)
                {
                    <strong>@i</strong>
                }
                else
                {
                    <a asp-action="Stajnia" asp-route-page="@i" asp-route-sortOrder="@ViewBag.SortOrder" asp-route-searchString="@ViewBag.SearchString">@i</a>
                }
            }
            
        </div>
        <a asp-action="DodajKonia" class="btn btn-success"> >>Dodaj nowego konia<< </a>
        <a asp-controller="HorseRace" asp-action="PanelAdmin" style="font-weight:600;">Cofnij</a>
    </div>
</div>
@if (TempData["KomunikatAlert"] != null)
{
    <script>
        alert('@TempData["KomunikatAlert"]');
    </script>
}
